
        @font-face {
            font-family: 'Microsoft Sans Serif';
            src: local('Microsoft Sans Serif'), url('https://fonts.googleapis.com/css2?family=Microsoft+Sans+Serif:wght@400&display=swap') format('woff2');
            font-weight: 400;
            font-style: normal;
        }

        /* Apply Microsoft Sans Serif font to text */
        body, .topnav a, .bottomnav a, .sidebar a {
            font-family: 'Microsoft Sans Serif', sans-serif;
        }

        body {
            background-color: white;
            margin: 0; /* Remove default margin */
            display: flex; /* Use flexbox */
            height: 100vh; /* Make the body fill the entire viewport height */
            flex-direction: column; /* Divide the body into two horizontally divided flex boxes */
            position: relative; /* Position the body relative for absolute positioning of elements inside it */
        }

        .topnav {
            display: flex; /* Use flexbox */
            justify-content: space-between; /* Align items with space between */
            background-color: white;
            color: #B9236A;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding-top: 10px;
            padding-left: 30px;
            padding-right: 50px; /* Add right padding to create space */
            padding-bottom: 0px;
            box-sizing: border-box; /* Include padding and border in the element's total width */
            width: 100%; /* Make the topnav span the full width of the page */
            position: relative; /* Position the navbar relative for absolute positioning of child elements */
        }

        .bottomnav{
            display: flex; /* Use flexbox */
            justify-content: space-between; /* Align items with space between */
            background-color: white;
            color: #B9236A;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding-top: 10px;
            padding-left: 30px;
            padding-right: 30px; /* Add right padding to create space */
            padding-bottom: 0px;
            box-sizing: border-box; /* Include padding and border in the element's total width */
            width: 100%; /* Make the topnav span the full width of the page */
            position: relative; /* Position the navbar relative for absolute positioning of child elements */
        }

        .topnav a, .bottomnav a, .sidebar a {
            color: #B9236A;
            display: flex; /* Use flexbox */
            align-items: center; /* Center items vertically */
            padding-bottom: 10px;
            margin-right: 10px; /* Adjust margin to create space between logo and text */
        }

        .topnav a:hover, .bottomnav a:hover, .sidebar a:hover {
            color: #080808;
        }

        .icons {
            display: flex; /* Use flexbox */
            align-items: center; /* Center items vertically */
            padding-bottom: 8px;
        }

        .icons a:not(:last-child) {
            margin-right: 10px; /* Add margin between icons */
        }

        .icons img {
            margin-right: 20px; /* Adjust margin to move the user icon more to the right */
        }

        .sign-out {
            cursor: pointer; /* Change cursor to pointer to indicate clickable element */
        }

        .bottomnav {
            background-color: #B9236A; /* Change background color to #B9236A */
            color: white; /* Change text color to white */
            padding-top: 10px; /* Add padding to the top of the navbar */
            padding-bottom: 10px; /* Add padding to the bottom of the navbar */
            border-radius: 0px;
            display: flex; /* Use flexbox */
            justify-content: flex-end; /* Align items to the right */
        }

        .sidebar {
            background-color: #048990; /* Change background color to #048990 */
            color: white; /* Change text color to white */
            padding-top: 10px; /* Add padding to the top of the sidebar */
            padding-bottom: 10px; /* Add padding to the bottom of the sidebar */
            width: 3%; /* Make the sidebar span the full width of the page */
            position: absolute; /* Position the sidebar relative for absolute positioning of child elements */
            left: 0; /* Position the sidebar on the left side of the page */
            top: 100px; /* Adjust the top position of the sidebar as needed */
            bottom: 0; /* Set the bottom position to stretch the sidebar to the bottom of the page */
            
        }

        /* Styles for projectCard  */
        .project-container-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px; /* Add 20 pixels of spacing between the containers */
            margin-left: 60px;
            margin-top: 40px;
            padding-left: 100px;
          }
          
          .projectCard__container,
          .projectCard2__container,
          .projectCard3__container {
            grid-column: span 1; /* Make each container span 1 column */
          }

          

        .projectCard__upper, .projectCard2__upper, .projectCard3__upper {
            background-color: #B9236A;
            height: 90px;
            position: relative;
            color: white;
            padding: 10px;
            border-bottom: 1px solid #dcdcdc;
            font-family: sans-serif;
            font-size: larger;
        }

        .projectCard, .projectCard2, .projectCard3{
            width: 300px;
            border: 1px solid #dcdcdc;
            border-radius: 20px;
            overflow: hidden;
            cursor: pointer;  
        }

        .projectCard__middle, .projectCard2__middle, .projectCard3__middle  {
            height: 130px;
            border-bottom: 1px solid #dcdcdc;
        }


        .projectCard__className, .projectCard2__className, .projectCard3__className {
            font-weight: 600;
            font-size: 30px;
        }
        .projectCard__group, .projectCard2__group, .projectCard3__group  {
            font-size: smaller; /* Set smaller font size for BSIT */
            margin-top: 5px; /* Add margin above BSIT */
        }
        
        .projectCard__group-link, .projectCard2__group-link, .projectCard3__group-link {
            color: white;
            text-decoration: none;
            cursor: pointer;
            margin-bottom: 5px; /* Add margin-bottom to create vertical space */
        }
        
        .projectCard__creator, .projectCard2__creator, .projectCard3__creator {
            font-size: smaller;
            color: white;
            margin-bottom: 10px; /* Add margin-bottom to create more vertical space */
        }
        
        
        /* Make the Home text in the sidebar white */
        .sidebar .Home {
            color: white;
            text-decoration: none;
            padding-left: 5px;
        }
        .user-image img, .user-image2 img, .user-image3 img { /* Added 'img' to target the image inside user-image */
            padding-left: 70%;
            width: 70px;
        }
        
        /* Media query for responsiveness */
        @media screen and (max-width: 600px) {
            .topnav, .bottomnav, .sidebar {
                flex-direction: column; /* Change flex direction to stack vertically on small screens */
                align-items: center; /* Center items horizontally */
                padding-left: 10px; /* Adjust padding for smaller screens */
                padding-right: 10px; /* Adjust padding for smaller screens */
            }
        

            .topnav a, .bottomnav a, .sidebar a {
                margin-right: 0; /* Remove margin for small screens */
                margin-bottom: 5px; /* Add margin below each link for spacing */
            }

            .sign-out {
                margin-right: 0; /* Remove margin for small screens */
                margin-bottom: 5px; /* Add margin below sign-out link for spacing */
            }
        }

        